.btn {
  @include btn;

  padding: 3px 3px 3px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;

  color: $color-secondary-cerulean;

  background-color: $color-default-white;
  border: 1px solid $color-secondary-cerulean;
  cursor: pointer;

  transition: all $trans-default;

  &:disabled {
    color: $color-btn-disabled;
    border: 1px solid $color-btn-disabled;
    pointer-events: none;

    .btn-wrapper {
      background-color: $color-btn-disabled;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $color-secondary-cerulean;
}

.btn-wrapper svg {
  stroke: $color-default-white;
}
