.feedback {
  background-color: $color-secondary-alabaster;
}

.feedback .container {
  position: relative;
  padding-top: 121px;
  padding-bottom: 30px;
  border-radius: 16px;
  overflow: hidden;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 67px;
    padding-bottom: 20px;
  }
}

.feedback__background {
  position: absolute;
  width: calc(100vw - 200px);
  max-width: 1240px;
  top: 121px;
  left: 100px;

  @include vp-1199 {
    top: 100px;
    left: calc(100vw - 723px);
    width: 678px;
  }

  @include vp-767 {
    display: none;
  }
}

.feedback__background img {
  height: 803px;

  @include vp-1199 {
    height: auto;
  }
}

.feedback__form {
  position: relative;
  padding: 82px 74px 52px;
  width: 498px;
  min-height: 803px;
  color: $color-secondary-alabaster;
  background-color: $color-secondary-cerulean;
  border-radius: 16px;
  z-index: 2;

  @include vp-1199 {
    padding: 60px 45px 12px;
    min-height: 780px;
    width: 442px;
  }

  @include vp-767 {
    padding: 51px 15px 50px;
    width: 100%;
    min-height: 753px;
  }
}

.feedback__form h2 {
  @include title-h3;

  margin: 0 0 25px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 28px;
  }

  @include vp-767 {
    margin-bottom: 16px;
  }
}

.feedback__form p {
  @include text-regular;

  margin-bottom: 18px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 26px;
  }
}

.feedback__form form {
  width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @include vp-1199 {
    width: 352px;
    row-gap: 14px;
  }

  @include vp-767 {
    width: 100%;
    row-gap: 20px;
  }
}

.feedback__name span,
.feedback__phone span,
.feedback__text span,
.feedback__select-wrapper span {
  @include text-xsmall;

  margin-bottom: 8px;
  display: block;

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.feedback__name,
.feedback__phone,
.feedback__text,
.feedback__select-wrapper {
  &:hover,
  &:focus-within {
    color: $color-default-white;

    input,
    textarea,
    button {
      border-color: $color-default-white;
    }
  }

  &:focus-visible,
  &:active {
    outline: none;
  }

  &.disabled {
    color: rgba($color-default-white, 0.6);
    pointer-events: none;

    input,
    textarea,
    button {
      background-color: rgba($color-default-white, 0.1);
    }
  }

  &.is-invalid {
    input,
    textarea,
    button {
      border: 1px solid #ff5e66;
      background: rgba(255, 94, 102, 0.2);
    }
  }
}

.feedback__form input,
.feedback__form textarea {
  padding: 8px;
  width: 100%;
  min-height: 50px;
  color: $color-secondary-alabaster;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.feedback__form textarea {
  min-height: 98px;

  @include vp-767 {
    min-height: 94px;
  }
}

.feedback__select-wrapper {
  margin-top: -4px;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 0;

  @include vp-1199 {
    margin-top: -6px;
    margin-bottom: 6px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.feedback__select-wrapper > span {
  margin-bottom: 10px;

  @include vp-1199 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.feedback__select-btn {
  position: relative;
  padding: 8px;
  width: 350px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  min-height: 50px;

  @include vp-1199 {
    width: 352px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.feedback__select-btn span {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $color-secondary-alabaster;
}

.feedback__select-icon {
  position: absolute;
  right: 18px;
  clip-path: none;
  background: transparent url("../img/sprite.svg#arrow-down") no-repeat center / 16px 16px;
}

.feedback__select-list {
  width: 350px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.feedback__checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.feedback__checkbox {
  padding: 0;
  margin-bottom: 24px;

  @include vp-1199 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.feedback__checkbox .feedback__checkbox-text {
  @include text-xxsmall;

  margin: 0;

  @include vp-767 {
    width: 230px;
  }
}

.feedback__checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.feedback__checkbox-mark {
  position: relative;
  margin: 0;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;

  &:hover {
    border-color: $color-default-white;
  }
}

.feedback__checkbox input:checked + .feedback__checkbox-mark {
  background: $color-default-white url("../img/sprite.svg#checkbox") no-repeat center / 14px 8px;

  &:hover,
  &:focus-visible {
    background-color: $color-secondary-cerulean;
    background-image: url("../img/sprite.svg#checkbox-white");
  }
}

.feedback__checkbox input:checked:disabled + .feedback__checkbox-mark {
  background: $color-default-white url("../img/sprite.svg#checkbox-white") no-repeat center / 14px 8px;
  background-color: $color-btn-disabled;
  border: none;
}

.feedback__checkbox input:disabled + .feedback__checkbox-mark {
  background-color: rgba($color-default-white, 0.6);
  pointer-events: none;
}

.feedback__checkbox.is-invalid .feedback__checkbox-mark {
  border: 1px solid #ff5e66;
  opacity: 0.7;
  background: rgba(255, 94, 102, 0.2);
}

.feedback__btn .feedback__icon-wrapper {
  display: flex;
  top: 4px;
  right: 4px;
  width: 46px;
  height: 46px;
  background-color: $color-default-white;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }

  svg {
    stroke: $color-secondary-cerulean;
  }
}

.feedback__btn {
  @include btn;

  padding-left: 30px;
  width: 100%;
  min-height: 54px;
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white;
  gap: 30px;

  @include vp-767 {
    min-height: 42px;
  }

  &:hover,
  &:focus-visible {
    color: $color-secondary-cerulean;
    background-color: $color-default-white;

    .feedback__icon-wrapper {
      background-color: $color-secondary-cerulean;
    }

    svg {
      stroke: $color-default-white;
      transform: rotate(45deg);
      transition: transform $trans-default;
    }
  }

  &:active {
    .feedback__btn-text,
    svg {
      opacity: 0.7;
    }
  }
}

.feedback__btn span {
  display: block;
  width: 240px;
  text-align: center;

  @include vp-767 {
    width: 162px;
  }
}
