@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

// Titles

@mixin title-h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 36px;
    line-height: 44px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 26px;
  }
}

@mixin title-h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 34px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

@mixin title-h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin title-h4 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

@mixin title-h5 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.26px;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 20px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}

@mixin title-h6 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

// text

@mixin text-big {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 20px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

@mixin text-medium {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 16px;
    line-height: 26px;
  }
}

@mixin text-regular {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  @include vp-1199 {
    font-size: 16px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin text-small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin text-xsmall {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

@mixin text-xxsmall {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

// Caption

@mixin caption {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 1%;
  text-transform: uppercase;
}

// Button

@mixin btn {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-transform: uppercase;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

// angle

@mixin angle {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    right: -20px;
    bottom: 0;

    width: 20px;
    height: 20px;

    background-image: url("../img/sprite.svg#angle");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
